<% if @error %>
  <p id='error'>Hey, did you fill everything in?</p>
<% end %>

<%= form_for @form, method: :post, url: posts_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :text %>
  <%= f.submit 'Publish', id: 'publish' %>
<% end %>
